
/build/*
!/build/.gitkeep

/stock_firmware/*
!/stock_firmware/README.md

/stock_firmware/common/*
!/stock_firmware/common/README.md

/sysroot/*
!/sysroot/.gitkeep

/out
/bin

# The following files are ignored because they need some cleanup
REQUIRED_PACKAGES
INIT_SUBMODULES.md

*.DS_Store

# Added for easier management
src/dropbear/dropbear
src/ftpd/pure-ftpd
src/mqtt/mqttv4
src/uClibc/uClibc
src/wsdd/wsdd
src/snapshot/snapshot/ffmpeg-4.3.2/
src/snapshot/snapshot/ffmpeg-4.4/
src/snapshot/snapshot/jpeg-9d/
scripts/packfiles.sh
.file.swp
src/ipc_cmd/ipc_cmd/ipc_multiplexer
src/ipc_cmd/ipc_cmd/ipc_multiplexer.o
src/ipc_cmd/ipc_cmd/ipc_read
src/ipc_cmd/ipc_cmd/ipc_read.o



